<router-outlet></router-outlet>


<div class="p-3 mb-2 techground_achter text-white">


    <p class="tech_titelwerking">In samenwerking met</p>

    <div class="tech_samenwerking col-md-12">
        <img class="tech_samenwerking__logo" src="../../../assets/AWS logo.png">
        <img class="tech_samenwerking__logo" src="../../../assets/Booking.com.png">
        <img class="tech_samenwerking__logo" src="../../../assets/Rabobank logo.png">
        <img class="tech_samenwerking__logo" src="../../../assets/TomTom logo.png">
        <img class="tech_samenwerking__logo" src="../../../assets/J.P. Morgan.png">
        <img class="tech_samenwerking__logo" src="../../../assets/image001 (1).png">
        <img class="tech_samenwerking__logo" src="../../../assets/EFRO logo.png">
        <img class="tech_samenwerking__logo" src="../../../assets/CA-ICT Logo.png">
    </div>
</div>




<div class="row tech__missie">

    <div class="col-md-6">
        <h1 class="tech"><span class="tech_tekst">Onze missie:</span> "We brengen tech ondernemerschap en digitale
            vaardigheden naar
            kwetsbare communities en wijken".<span class="tech_tekst"> Zodat tech echt van iedereen wordt.</span>

            <img class="tech_molengeek" src="../../../assets/Molengeek logo.jpg">
        </h1>
    </div>



    <div class="col-md-6">
        <iframe class="tech_video" src="https://www.youtube.com/embed/jWstIxBvFOk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <p class="tech_nieuws"> TechGrounds in het nieuws</p>
            <div class="carousel-item active">
                <div class="d-flex">
                    <a href="https://fd.nl" target="_blank"> <img class="d-block w-100"
                            src="../../../assets/fd download.png" alt="First slide"></a>
                    <a href="https://www.demorgen.be/" target="_blank"> <img class="d-block w-100"
                            src="../../../assets/Logo_DeMorgen.png" alt="First slide"></a>
                    <a href="https://www.tijd.be/" target="_blank"> <img class="d-block w-100"
                            src="../../../assets/detijd.png" alt="First slide"> </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex tech_nieuws2">
                    <a href="https://news.samsung.com/nl/" target="_blank"><img class="d-block w-100"
                            src="../../../assets/samsung-newsroom-logo.jpg" alt="Second slide"></a>
                    <a href="https://www.aljazeera.com/" target="_blank"> <img class="d-block w-100"
                            src="../../../assets/alja.jpg" alt="Second slide"></a>
                    <a href="https://www.agconnect.nl/" target="_blank"> <img class="d-block w-100"
                            src="../../../assets/agconnec.svg" alt="Second slide"></a>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>