.techground_columns{
display: flex;
flex-direction: column;
flex: 1;
}

.vierkant{
border: 3px solid black;
background: black;
height: 4rem;
width: 4;

}

.rondjes{
    background: black;
    height: 4rem;
    width:4rem;

}