<h1>Ons Team</h1>


<div>

    <div class="vierkant__groepLinks">
        <div class="vierkant"> <img src="../../../assets/Unknown.jpeg"> </div>
        <div class="vierkant"> <img src="../../../assets/jVxxzRe6-300x300.jpg"></div>

    </div>

    <div class="rondje__groep">
        <div class="rondje__groep__midden">
            <div class="rondjes"></div>
            <div class="rondjes"></div>
            <div class="rondjes"></div>
            <div class="rondjes"></div>
            <div class="rondjes"></div>
            <div class="rondjes"></div>
        </div>
    </div>

    <div class="vierkant__groepRechts">
        <div class="vierkant"> <img src="../../../assets/ayj7TAM_-300x300.jpeg"></div>
        <div class="vierkant"> <img src="../../../assets/abdelhamid-idrissi.jpeg-150x150.jpg"></div>

    </div>





















    <h2>Het team is een afspiegeling van de diversiteit in de wijk</h2>
    <p> We zoeken mensen die passen in het team, Trainers, coaches. </p>