<!-- <div class="opleidingen">
    <div class="container">
        <h2 class="opleidingen__title">Coding & IT Academy</h2>

        <div class="row">
            <div class="col-md-6 opleidingen__fullstack">
                <h3 class="opleidingen__subtitle"><i class="fa fa-code"></i> Full Stack Dev</h3>
                <p>we leiden deelnemers uit de wijk op tot full stack dev, met kennis van:</p>

                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>GIT</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>HTML</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>CSS</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>JavaScript</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Frameworks</p>

                    </div>
                    <div class="col-md-6">
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>NodeJS</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Rest API's</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Hands-on
                            professionele
                            project ervaring en nog veel meer!</p>

                    </div>
                </div>
                <div class="opleidingen__specs">
                    <p><b>Specs</b></p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden, full-time
                        bij
                        TechGrounds kantoor.</p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos voor de
                        deelnemers </p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen vooropleiding
                        nodig
                    </p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                        geselecteerd op
                        basis van motivatie en potentie die TechGrounds ziet.</p>
                </div>

            </div>
            <div class="col-md-6 opleidingen__aws">
                <h3 class="opleidingen__subtitle"><i class="fa fa-cloud" aria-hidden="true"></i>
                    Cloud Operator</h3>
                <p>we leiden deelnemers uit de wijk op tot AWS Cloud Practitioner, met kennis van:</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Linux</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Databases</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Python</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>AWS fundamentals</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud security</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud computing</p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Configuration
                            management </p>
                        <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Storage / networking in
                            the cloud en nog veel meer</p>

                    </div>
                </div>
                <div class="opleidingen__specs">
                    <p><b>Specs</b></p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden, full-time bij
                        TechGrounds kantoor.</p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos voor de
                        deelnemers </p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen vooropleiding nodig
                    </p>
                    <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt geselecteerd op
                        basis van motivatie en potentie die TechGrounds ziet.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <img src="../../assets/AWS logo.png" alt="aws">
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class=" opleidingen__aws">
                    <h3 class="opleidingen__subtitle text-center"><i class="fa fa-cloud" aria-hidden="true"></i>
                        Cloud Operator</h3>
                    <p class="text-center">we leiden deelnemers uit de wijk op tot AWS Cloud Practitioner, met kennis
                        van:</p>
                    <div class="container">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Linux</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Databases
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Python</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>AWS
                                        fundamentals
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud
                                        security
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud
                                        computing
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon"
                                            aria-hidden="true"></i>Configuration
                                        management </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Storage /
                                        networking in
                                        the cloud en nog veel meer</p>

                                </div>
                            </div>
                            <div class="opleidingen__specs">
                                <p><b>Specs</b></p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden,
                                    full-time
                                    bij
                                    TechGrounds kantoor.</p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos
                                    voor
                                    de
                                    deelnemers </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen
                                    vooropleiding
                                    nodig
                                </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                                    geselecteerd op
                                    basis van motivatie en potentie die TechGrounds ziet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Coding school
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="opleidingen__fullstack">
                    <h3 class="opleidingen__subtitle text-center"><i class="fa fa-code"></i> Full Stack Dev</h3>
                    <p class="text-center">we leiden deelnemers uit de wijk op tot full stack dev, met kennis van:</p>
                    <div class="container">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>GIT</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>HTML</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>CSS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>JavaScript
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Frameworks
                                    </p>

                                </div>
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>NodeJS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Rest API's
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Hands-on
                                        professionele
                                        project ervaring en nog veel meer!</p>

                                </div>
                            </div>
                            <div class="opleidingen__specs">
                                <p><b>Specs</b></p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden,
                                    full-time
                                    bij
                                    TechGrounds kantoor.</p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos
                                    voor
                                    de
                                    deelnemers </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen
                                    vooropleiding
                                    nodig
                                </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                                    geselecteerd op
                                    basis van motivatie en potentie die TechGrounds ziet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="opleidingen__fullstack">
                    <h3 class="opleidingen__subtitle text-center"><i class="fa fa-code"></i> Full Stack Dev</h3>
                    <p class="text-center">we leiden deelnemers uit de wijk op tot full stack dev, met kennis van:</p>
                    <div class="container">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>GIT</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>HTML</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>CSS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>JavaScript
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Frameworks
                                    </p>
                
                                </div>
                                <div class="col-md-6">
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>NodeJS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Rest API's
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Hands-on
                                        professionele
                                        project ervaring en nog veel meer!</p>
                
                                </div>
                            </div>
                            <div class="opleidingen__specs">
                                <p><b>Specs</b></p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden,
                                    full-time
                                    bij
                                    TechGrounds kantoor.</p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos
                                    voor
                                    de
                                    deelnemers </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen
                                    vooropleiding
                                    nodig
                                </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                                    geselecteerd op
                                    basis van motivatie en potentie die TechGrounds ziet.</p>
                            </div>
                        </div>
                    </div>
                </div> </div>
        </div>
    </div>
</div>