<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header test" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <img src="../../assets/AWS logo.png" alt="aws">
                </button>
                Cloud Operator
                <i class="fa fa-arrow-down flip" aria-hidden="true"></i>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class=" opleidingen__aws">
                    <h3 class="opleidingen__subtitle text-center"><i class="fa fa-cloud" aria-hidden="true"></i>
                        Cloud Operator</h3>
                    <p class="text-center">We leiden deelnemers uit de wijk op tot AWS Cloud Practitioner, met kennis
                        van:</p>
                    <div class="container">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><b>Wat leer je tijdens de opleiding</b></p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Linux</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Databases
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Python</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>AWS
                                        fundamentals
                                    </p>

                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud
                                        security
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Cloud
                                        computing
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon"
                                            aria-hidden="true"></i>Configuration
                                        management </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Storage /
                                        networking in
                                        the cloud en nog veel meer</p>

                                </div>
                            </div>
                            <div class="opleidingen__specs">
                                <p><b>Specs</b></p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden,
                                    full-time
                                    bij
                                    TechGrounds kantoor.</p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos
                                    voor
                                    de
                                    deelnemers </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen
                                    vooropleiding
                                    nodig
                                </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                                    geselecteerd op
                                    basis van motivatie en potentie die TechGrounds ziet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">

                <img src="../../assets/Logo TG.png" alt="Coding School">

                Coding School
                <i class="fa fa-arrow-down " aria-hidden="true"></i>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="opleidingen__fullstack">
                    <h3 class="opleidingen__subtitle text-center"><i class="fa fa-code"></i> Full Stack Dev</h3>
                    <p class="text-center">We leiden deelnemers uit de wijk op tot full stack dev, met kennis van:</p>
                    <div class="container">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><b>Wat leer je tijdens de opleiding</b></p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>GIT</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>HTML</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>CSS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>JavaScript
                                    </p>


                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Frameworks
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>NodeJS</p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Rest API's
                                    </p>
                                    <p><i class="fa fa-arrow-right opleidingen__icon" aria-hidden="true"></i>Hands-on
                                        professionele
                                        project ervaring en nog veel meer!</p>

                                </div>
                            </div>
                            <div class="opleidingen__specs">
                                <p><b>Specs</b></p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>6 maanden,
                                    full-time
                                    bij
                                    TechGrounds kantoor.</p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Kosteloos
                                    voor
                                    de
                                    deelnemers </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Geen
                                    vooropleiding
                                    nodig
                                </p>
                                <p><i class="fa fa-check-circle-o opleidingen__icon" aria-hidden="true"></i>Er wordt
                                    geselecteerd op
                                    basis van motivatie en potentie die TechGrounds ziet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">

                Collapsible Group Item #3

                <i class="fa fa-arrow-down " aria-hidden="true"></i>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>