<div class="title">
    <h2>Het curriculum bestaat naast tech skills ook uit:</h2>
</div>
<div class="flex container">
    <div class="green-border col-7">
        <h2 class="text-white font-weight-bold">Softskills</h2>
        <p class="text-white">In alle programma's van de Academy is een soft-skills programma geïntegreerd. Specifiek
            ontworpen voor de
            TechGrounds doelgroep worden onderwerpen behandeld als leren te leren, do's & dont's, interactie, teamwork,
            zelfredzaamheid, presenteren en aanwezigheid. Zo ontwikkelen de deelnemers zich ook op persoonlijk vlak en
            zijn
            ze na afronding van het programma klaar voor de arbeidsmarkt</p>

    </div>
    <div class='Practical col-5'>
        <h2 class='font-weight-bold'> Practical skills </h2>
        <div class="d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <p> Slack, Trello, Google drive/doc archiving, emails & folder structures, calender invites, OKRs

        </div>
        <div class="d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <p> Business Model Canvas & Lean Startup, Tech-events, scrum (standups), Run-books. </p>
        </div>
        <div class="d-flex">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <p>Linkedin, Twitter, Business English</p>
        </div>
    </div>
</div>
<br>
<h2 class="text-center font-weight-bold">
    Deelnemers aan het woord.
    <br>
    Waarom heb ik gekozen voor TechGrounds?</h2>



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Yf4_WS1aHME"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/qYilj1IX-kA"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
        <div class="carousel-item">
            <iframe class="video"
                src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjongerenraadduo%2Fvideos%2F281975102424270%2F&show_text=0&width=560"
                width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allowFullScreen="true"></iframe></div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>