.navbar{
    background-color: #fffff555;
    position: absolute;
    z-index: 1;
    width: 100%;    
}
.d-flex {
    margin: 0;
    align-items: center;
    padding: 0;
    white-space: nowrap;
}
.photo {
    height: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.col-md-6 {
    justify-content: flex-end;
}
.photos{
    height: 3rem;
    margin-right: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.25rem;
    color: black;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.carousel {
    height: 93.5vh;
    overflow: hidden;
}
.wrapper {
    height: 93.5vh;
.button-wrapper {
    display: flex;
    position: relative;
    bottom: 15rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    // flex-direction: column;
    // left: -10rem;
    justify-content: space-evenly;
    
    button{
        background:linear-gradient(to right, #41E25F
    , #7FB38E
    );
    z-index: 10;
    border: none;
    width: 20rem;
    height: 9rem;
    }
}
}
.button-title {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 15rem;
    z-index: 5;
    // background-color: grey;
}

.slideshow{
    img{
    height:10rem;
    width: 12rem;
}
}
.nav-link:hover {
    background:linear-gradient(to right, #41E25F
    , #7FB38E
    );
    border-radius: 10px;
}
.links {
    background:linear-gradient(to right, #41E25F
    , #7FB38E
    );
}

@media (max-width: 768px) {
    .d-flex{
        display: none!important;
    }
    
}

@media (max-width: 930px) {
    .button-wrapper {
           top: -25rem;
    }
}
@media (max-width: 640px) {
    .button-wrapper {
        top: -30rem;
    }
}
@media (max-width: 932px) {
    .button-title {
        bottom: 25rem;
    }
}

@media (max-width: 640px) {
    .button-title {
        bottom: 30rem;
    }
}

