
<section id='hub' >

    <H1>Start Hub</H1>
    <H2>Starting Grounds</H2>
    <div class="wrap">
        <div class="scroller" >

            <ul>
                <li>heeeeeeeeeeeeeeeeeeee</li>
                <li>hhiiiiiiiiiiiiiiiii</li>    
            </ul>
        
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

        </div>

        <div class="scroller">

            <ul>
                <li>heeeeeeeeeeeeeeeeeeee</li>
                <li>hhiiiiiiiiiiiiiiiii</li>    
            </ul>
        
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        
        </div>
    </div>
<marquee behavior="scroll" direction="left">Doorloopende programma's en verbonden met Academy & TEch Events <span id='hub-stop'>Gratis toegankelijk</span></marquee>

<!-- <marquee direction="down" width="250" height="200" behavior="alternate" style="border:solid">
    <marquee behavior="alternate">
      this shall bounce
    </marquee>
</marquee> -->

</section>